<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
<div class="data-box">
    <p class="title">Parking Status</p>
    <p class="total-para">Total Seats:</p><span class="total-data">{{nombrePlace}}</span>
    <p class="avail-para">Available: </p><span class="avail-data">{{nombreDisponaible}}</span>
    <div class="location">
            <p class="title">Parking location </p>
            <i class="fas fa-map-marker-alt"></i>
            <p>FSTT Parking</p>
    </div>
</div>