
<body >
    <div id="scroll-animate">
        <div id="scroll-animate-main">
            <div class="wrapper-parallax">
                
                <header>
                    
                    <app-header></app-header>
                </header>

                <section class="content">
                    <app-content></app-content>
                </section>

                <footer >
                    <app-footer></app-footer>
                </footer>

            </div>
        </div>
    </div>

    <a href="#" class="link-to-portfolio" target=”_blank”></a>
</body> 